@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "//classpath:compass/css3";

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

$arc-diameter: 170px;

.sunmoon {
  position: relative;
  & > div {
    margin-left: 10px;
  }
}

.sun-times {
  margin-top: 40px;
  width: 230px;
  height: 60px;
  border-bottom: 1px solid #999;
  overflow-y: hidden;

  .dot {
    width: 20px !important;
    height: 20px !important;
    background-color: red;
    position: absolute;
    z-index: 100;
    top: 0;
  }

  .sun-path {
    margin-left: 25px;
    width: $arc-diameter;
    height: $arc-diameter;
    overflow: hidden;
    border: 1px dashed #999;
    border-radius: 50%;
  }

  .sun-symbol-path {
    position: absolute;
    color: yellow;
    text-shadow: 0 0 5px black;
    height: $arc-diameter / 2;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateZ(-75deg);
    left: ($arc-diameter / 2) + 25px;
    bottom: 0;
    // transform: rotateZ(27deg);

    .symbol {
      position: relative;
      font-size: 16px;
      top: -8px;
    }
  }

  .sun-animation {
    width: 0px;
    height: 150px;
    background-color: rgba(255, 255, 0, 0.4);
    -webkit-transition: width 2s linear;
    transition: width 2s linear;
  }
}

.legend {
  position: absolute;
  bottom: 1em;

  & > div {
    position: absolute;
    font-size: 12px;
    width: 80px;
  }

  .sunrise {
    left: 15px;
  }

  .sunset {
    left: 185px;
  }
}

.controls {
  margin-top: 50px;
}
